In [1]:
print "hello world"

hello world

In [2]:
a = 2
b = 5 
if (a<b):
    print "a lebih kecil dari b"
elif(a>b):
    print "a lebih besar dari b"
else:
    print "a sama dengan b"

a lebih kecil dari b

In [3]:
for index in range (b):
    print "praktikum PBA"

praktikum PBA
praktikum PBA
praktikum PBA
praktikum PBA
praktikum PBA

In [4]:
listku = [1234, 'pba', 111, 'nlp']

In [5]:
listku

[1234, 'pba', 111, 'nlp']

In [6]:
listku[0]

1234

# Tuple

In [7]:
namamhs = ("banu", "harli", "trimulya", "suandi")

In [8]:
namamhs

('banu', 'harli', 'trimulya', 'suandi')

# Dictionary

In [9]:
databanu = {'nama' : 'banu', 'alamat' : 'lombok', 'nim' : 186}

In [10]:
databanu

{'alamat': 'lombok', 'nama': 'banu', 'nim': 186}

In [11]:
databanu['nama']

'banu'

# Delete data

del databanu['alamat']

In [12]:
databanu

{'alamat': 'lombok', 'nama': 'banu', 'nim': 186}

# tambah data

In [13]:
databanu.update({'umur' : 20})

In [14]:
databanu

{'alamat': 'lombok', 'nama': 'banu', 'nim': 186, 'umur': 20}

# Postes

# 1

In [15]:
listsaya = ['aku', 'dan', 'dirinya']
listsaya

['aku', 'dan', 'dirinya']

In [16]:
listsaya.append("praktikum PBA")

In [17]:
listsaya

['aku', 'dan', 'dirinya', 'praktikum PBA']

In [18]:
print (listsaya[0],listsaya[1],listsaya[2], 'melakukan', listsaya[3])

('aku', 'dan', 'dirinya', 'melakukan', 'praktikum PBA')

# 2

In [19]:
A = 10

In [20]:
for index in range (A):
    print "Sayamahasiswa"

Sayamahasiswa
Sayamahasiswa
Sayamahasiswa
Sayamahasiswa
Sayamahasiswa
Sayamahasiswa
Sayamahasiswa
Sayamahasiswa
Sayamahasiswa
Sayamahasiswa

# 3

In [21]:
dataku = {'namadosen' : 'Nuril Anwar', 'slot' : 09.00, 'praktikum' : 'PBA', 'lab' : 'komdas'}

In [22]:
dataku

{'lab': 'komdas', 'namadosen': 'Nuril Anwar', 'praktikum': 'PBA', 'slot': 9.0}